    body {
      margin: 0;
      background: #111;
      color: #fff;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    canvas {
      background: #85858550;
      border: 2px solid ;
    }

    #score, #bestScore {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    button {
      padding: 15px 30px;
      font-size: 1.2em;
      margin: 20px;
      background-color: #11c22f;
      color: white;
      border: none;
      border-radius: 8px;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #0f8f2b;
    }

    #countdown {
      position: absolute;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
    }